name: "Convert Word articles to TEI"
on: 
  push:
    branches:
      - main
    paths:
      # this specifies the path of the file(s) that have to have been pushed
      # for triggering this action
      - sources/*.docx

jobs:    
  build:
    runs-on: ubuntu-latest
    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v2
      - run: echo "BEFORE=${{ github.event.before }}" >> $GITHUB_ENV
      - run: echo "AFTER=${{ github.event.after }}" >> $GITHUB_ENV
      - uses: ./.github/actions/process-articles
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Converted Word file to TEI
 